* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(117, 84, 148);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 375px;
  background: #ffffff;
}
header {
  background-color: #557fe5;
  color: #ffffff;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 24px;
}

label {
  font-weight: 400;
  color: #777;
  font-size: 14px;
}

select,
input {
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #fff;
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.button {
  border-radius: 5px;
  background: #557fe5;
  width: 100%;
  border: none;
  height: 48px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.button:hover {
  opacity: 0.5;
}
.button:active {
  opacity: 0.8;
}
section {
  border-radius: 20px;
  background: #f4f4f4;
  margin-top: 36px;
  border: 1px solid #772fd3;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgseta {
  margin: 15px 0;
}
.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.moeda-pais {
  font-weight: 400;
  font-size: 14px;
  color: #777;
}
.moeda-dolar,
.moeda-real {
  font-weight: 700;
  font-size: 20px;
  color: #555;
}
